
#root {
  display: grid;
  background-color: #f1f2f6;
  
}

.episodeDiv{
  background-color: #f1f2f6;
  color: #535c68;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;}

.divElStyle{
  background-color: white;
  margin-bottom: 15px;
  border: solid lightgrey 0.4px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.exDiv{
  display: flex;
  justify-content: center;
}

.pElStyle{
  font-family: 'Sanchez', serif;
}

.h2ElStyle{
  background-color: grey;
  color: white;
  font-family: 'Sanchez', serif;
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
  height: 60px;margin: 0;
}

.searchDiv{
  background-color: #f1f2f6;
  color: #535c68;
  display: flex;
  justify-content: space-around;
}

.searchInText{
  height: 27px;
  padding: 5px;
  margin: 20px 10px 10px 10px;
  border-radius: 1px;
  font-size: 20px;
  color: #535c68;

}

.searchState{
  padding: 10px;
  margin: 10px;
  font-family: 'Sanchez', serif;
  font-size: 32px;
}
.selectEl{
  height: 40px;
  padding: 10px;
  margin: 20px 10px 10px 10px;
  border-radius: 1px;
  font-family: 'Sanchez', serif;
}

/* *{
  border: solid green 1px;
} */