#root {
  display: flex;
  flex-direction: column;
  background-color: #f1f2f6;
}

.searchRoot{
  width: 96%;
  padding: 10px;
  margin: 10px;    
}

.episodeRoot{
  background-color: #f1f2f6;
  color: #535c68;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px 0px;
}

.divElStyle{
  width: 350px;
  background-color: white;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid lightgrey 0.4px;
  border-radius: 5px;
}

.pElStyle{
  padding: 10px;
  width: 250px;
}

.h2ElStyle{
  width: 330px;
  margin: 0px 0px 10px 0px;
  background-color: grey;
  color: white;
  font-family: 'Sanchez', serif;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
  height: 60px;
}

.searchDiv{
  width: 96%;
  padding: 10px;
  margin: 10px;
  background-color: #f1f2f6;
  color: #535c68;

}

.searchInText{
  width: 200px;
  height: 30px;
  padding: 5px;
  margin: 20px 10px 10px 10px;
  border-radius: 1px;
  font-size: 30px;
  color: #535c68;

}

.searchState{
  padding: 10px;
  margin: 10px;
  font-family: 'Sanchez', serif;
  font-size: 32px;
}